<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <h1>Student List</h1>
  
  <table border="2">
  <tr>
     <th> Id</th>
     <th>Name</th>
     <th>City</th>
     <th>Email</th>
     <th>Action</th>
  </tr>
  
  <tbody>
    <tr th:each="student :${students}">
      <td th:text="${student.sid}"></td>
      <td th:text="${student.sname}"></td>
      <td th:text="${student.city}"></td>
      <td th:text="${student.email}"></td>
      <td>
       <a th:href="@{/students/{sid}(sid=${student.sid})}"> <input type="button" value="View"></a>
       <a th:href="@{/students/showFormForupdate/{sid}(sid=${student.sid})}"><input type="button" value="Edit"></a>
       <a th:href="@{/students/delete/{sid}(sid=${student.sid})}"><input type="button" value="Delete"></a>
      </td>
    </tr>
    
  </tbody>
  </table>
</body>
</html>