<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="#" th:action="@{/students/update/{sid}(sid=${student.sid})}" th:object="${student}" method="post">
     
    
     
     <label for="sname">Name:</label>
     <input type="text" th:field="*{sname}" id="sname" >
     <span th:if="${#fields.hasErrors('sname')}" th:errors="*{sname}"></span>
     <br>
     <label for="city">City:</label>
     <input type="text" th:field="*{city}" id="city" ><br>
     <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
     
     <label for="sname">Email:</label>
     <input type="email" th:field="*{email}" id="email" ><br>
     <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
     
     
     <input type="submit" value="Update">
     
   </form>
</body>
</html>